.bd{
    background-color: rgb(67, 225, 217);
    color: aliceblue;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    height: 330px;
    width: 240px;
    background-color: rgb(236, 45, 172);
    border: 2px solid transparent;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4 3px 12px 4px;
}